.loyalty-station-banner {
  width: 100%;
  margin: 0 auto;
}

.banner-slider {
  width: 100%;
}

.banner-slide {
  width: 100%;
  height: 300px;
  position: relative;
}

.banner-slide-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
} 
